.p2-pPD {
	align-items: flex-end;
	display: flex;
	width: 100%;
  
	.auto-group-3mtq-FzK {
	  flex-shrink: 0;
	  height: 101.9rem;
	  margin-right: 15.7rem;
	  position: relative;
	  width: 161.9rem;
  
	  .header-j8o {
		align-items: flex-start;
		display: flex;
		height: 100.2rem;
		left: 0;
		position: absolute;
		top: 0;
		width: 161.9rem;
  
		.auto-group-4vud-qxX {
		  flex-shrink: 0;
		  height: 7.5906rem;
		  margin-right: 6.5542rem;
		  position: relative;
		  width: 11.6458rem;
  
		  .frame-1-afD {
			align-items: center;
			border: solid 0.3rem #000000;
			box-sizing: border-box;
			color: #000000;
			display: flex;
			font-family: Inter, 'Source Sans Pro';
			font-size: 1.7rem;
			font-weight: 400;
			height: 3.8rem;
			justify-content: center;
			left: 0;
			letter-spacing: 0.015rem;
			line-height: 1.6470588235;
			position: absolute;
			top: 0;
			white-space: nowrap;
			width: 6.1rem;
		  }
		  .frame-2-Nqy {
			align-items: center;
			border: solid 0.3rem #000000;
			box-sizing: border-box;
			color: #000000;
			display: flex;
			font-family: Inter, 'Source Sans Pro';
			font-size: 1.7rem;
			font-weight: 400;
			height: 3.8rem;
			justify-content: center;
			left: 0.0458rem;
			letter-spacing: 0.015rem;
			line-height: 1.6470588235;
			position: absolute;
			top: 3.7906rem;
			white-space: nowrap;
			width: 11.6rem;
		  }
		}
		.frame-5-PWB {
		  align-items: flex-start;
		  display: flex;
		  flex-shrink: 0;
		  height: calc(100% - 13.05rem);
		  margin: 3.8rem 0rem 9.25rem 0rem;
		  overflow: hidden;
		  position: relative;
  
		  .auto-group-pms9-hmm {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			height: 100%;
			margin-right: 16.6rem;
  
			.frame-3-SUT {
			  flex-shrink: 0;
			  height: 46.4rem;
			  margin-bottom: 9.95rem;
			  object-fit: cover;
			  vertical-align: top;
			  width: 55.1rem;
			}
			.lorem-ipsum-dolor-sit-amet-consectetur-pharetra-ipsum-imperdiet-metus-et-amet-elit-aliquet-volutpat-euismod-urna-purus-mi-nisl-id-egestas-auctor-a-lacus-diam-turpis-risus-tellus-nibh-cras-a-ut-enim-nunc-quis-quam-imperdiet-sed-bibendum-phasellus-mattis-amet-aliquam-ut-lectus-maecenas-egestas-vivamus-cum-in-sit-nulla-sed-consequat-sed-mauris-quisque-convallis-at-sed-nec-in-pharetra-magna-scelerisque-potenti-amet-erat-maecenas-enim-mi-mollis-pharetra-gravida-aliquam-nullam-a-velit-tempor-magna-massa-posuere-sed-imperdiet-ac-mollis-pellentesque-cursus-tincidunt-cras-sed-mauris-in-magna-ornare-suspendisse-enim-pulvinar-amet-turpis-lorem-nec-massa-vestibulum-elit-mauris-netus-cursus-ac-auctor-PRd {
			  color: #000000;
			  display: flex;
			  flex-shrink: 0;
			  font-family: Inter, 'Source Sans Pro';
			  font-size: 1.7rem;
			  font-weight: 400;
			  letter-spacing: 0.015rem;
			  line-height: 1.6470588235;
			  max-width: 55rem;
			}
		  }
		  .vector-1-wV5 {
			flex-shrink: 0;
			height: 85.8rem;
			margin-right: 16.9rem;
			object-fit: contain;
			vertical-align: top;
			width: 0;
		  }
		  .auto-group-u7w1-t9R {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
  
			.frame-4-Ej5 {
			  flex-shrink: 0;
			  height: 46.4rem;
			  margin-bottom: 9.25rem;
			  object-fit: cover;
			  vertical-align: top;
			  width: 55.1rem;
			}
			.lorem-ipsum-dolor-sit-amet-consectetur-pharetra-ipsum-imperdiet-metus-et-amet-elit-aliquet-volutpat-euismod-urna-purus-mi-nisl-id-egestas-auctor-a-lacus-diam-turpis-risus-tellus-nibh-cras-a-ut-enim-nunc-quis-quam-imperdiet-sed-bibendum-phasellus-mattis-amet-aliquam-ut-lectus-maecenas-egestas-vivamus-cum-in-sit-nulla-sed-consequat-sed-mauris-quisque-convallis-at-sed-nec-in-pharetra-magna-scelerisque-potenti-amet-erat-maecenas-enim-mi-mollis-pharetra-gravida-aliquam-nullam-a-velit-tempor-magna-massa-posuere-sed-imperdiet-ac-mollis-pellentesque-cursus-tincidunt-cras-sed-mauris-in-magna-ornare-suspendisse-enim-pulvinar-amet-turpis-lorem-nec-massa-vestibulum-elit-mauris-netus-cursus-ac-auctor-ZFZ {
			  color: #000000;
			  display: flex;
			  flex-shrink: 0;
			  font-family: Inter, 'Source Sans Pro';
			  font-size: 1.7rem;
			  font-weight: 400;
			  letter-spacing: 0.015rem;
			  line-height: 1.6470588235;
			  max-width: 55rem;
			}
		  }
		}
	  }
	  .footer-made-publishers-2021-APm {
		color: #333333;
		display: flex;
		font-family: Inter, 'Source Sans Pro';
		font-size: 1.5rem;
		font-weight: 400;
		height: 3rem;
		left: 1.2rem;
		letter-spacing: 0.015rem;
		line-height: 2;
		position: absolute;
		top: 98.2rem;
		white-space: nowrap;
		width: 1rem;
	  }
	  .frame-8-ng3 {
		height: 3.6rem;
		left: 0.2rem;
		overflow: hidden;
		position: absolute;
		top: 98.3rem;
		width: 3.6rem;
	  }
	}
	.auto-group-fpkd-JuH {
	  flex-shrink: 0;
	  height: 3.6rem;
	  margin-bottom: 0.4rem;
	  position: relative;
	  width: 3.6rem;
  
	  .item-4-eiF {
		color: #000000;
		display: flex;
		font-family: Inter, 'Source Sans Pro';
		font-size: 1.7rem;
		font-weight: 400;
		height: 2.8rem;
		left: 1rem;
		letter-spacing: 0.015rem;
		line-height: 1.6470588235;
		position: absolute;
		top: 0.4rem;
		white-space: nowrap;
		width: 1.2rem;
	  }
	  .frame-9-hgX {
		height: 3.6rem;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 3.6rem;
	  }
	}
  }